<h1>Last news</h1>

<% @sources.each do |source| %>
  <h1><%= source.title %></h1>
  <% source.news.latest.each do |entry| %>
    <article>
      <time pubdate datetime="<%= entry.date %>">
        <%= entry.date.to_formatted_s(:long) %>
      </time>
      <h3><%= link_to entry.title, entry.url %></h3>
      <p><%= sanitize entry.body %></p>
    </article>
  <% end %>
<% end %>