<section class="sidebar">
  <nav>
    <% if logged_in? %>
    <p>Logged as <%= @current_user.email %></p>
    <% end %>
    <h2>Navigation</h2>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", "#" %></li>
      <% unless logged_in? %>
      <li><%= link_to "Sign in", new_sessions_path %></li>
      <% else %>
      <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
      <% end %>
    </ul>
    <h2>Sources</h2>
    <ul>
      <% Source.all.each do |source| %>
      <li><%= link_to source.title, source_path(source) %></li>
      <% end %>
    </ul>
    <% if logged_in? %>
    <h2>Admin</h2>
    <ul>
      <li><%= link_to "All sources",  sources_path %></li>
      <li><%= link_to "Add source",   new_source_path %></li>
      <li><%= link_to "Refresh news", refresh_all_path %></li>
    </ul>
    <% end %>
  </nav>
</section>
