<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 
                                            'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "News portal", root_path, class: "logo" %></h1>
  </header>
  <section class="content">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash flash-#{key}") %>
    <% end %>

    <%= yield %>
  </section>
  <section class="sidebar">
    <nav>
      <h2>Navigation</h2>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", "#" %></li>
      </ul>
      <h2>Sources</h2>
      <ul>
        <li><%= link_to "Source #1", "#" %></li>
        <li><%= link_to "Source #2", "#" %></li>
        <li><%= link_to "Source #3", "#" %></li>
        <li><%= link_to "Source #4", "#" %></li>
        <li><%= link_to "Source #5", "#" %></li>
        <li><%= link_to "Source #6", "#" %></li>
      </ul>
      <h2>Admin</h2>
      <ul>
        <li><%= link_to "All sources",  sources_path %></li>
        <li><%= link_to "Add source",   new_source_path %></li>
        <li><%= link_to "Refresh news", "#" %></li>
      </ul>
    </nav>
  </section>
  <footer>
    <div class="copyright">
      &copy; <%= Time.now.year %> <%= link_to "News Portal", "#" %>
    </div>
    <nav>
      <ul>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
